README.txt
*.nc
*.grb
*.exe
*.mod
*.tar
tmp*
tmpfileFL
log*
*.bak*
*.swp
WRF_CMORizer
___*
bak_main_tool
doc_planning
doc_requirements*
gitlab_before_kicking_people_out_backup
gitlab_status_on_20171115_before_taking_it_over_again
related_other_tools
*.tgz
*__genmod.f90
